*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/detection.ms
/enginelibrary/src/main/assets/mobilenetv2.ms
/enginelibrary/src/main/assets/detection.ms
/enginelibrary/src/main/cpp/mindspore-lite-1.5.0-android-aarch64/
