# Copyright 2021 Huawei Technologies Co., Ltd
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ============================================================================

data_loader:
  train:
    dataset:
      type: Mnist
      path: "/home/workspace/mindspore_dataset/mnist" # Root directory of the Mnist dataset or inference image. This default path is for ST test.
      split: "train"
      batch_size: 32 # Batch size of dataset.
      repeat_num: 1 # The repeat num of dataset.
      shuffle: True # Perform shuffle on the dataset.
      num_parallel_workers: 1 # Number of subprocess used to fetch the dataset in parallel.
      download: False # Whether to download the dataset.
    map:
      operations:
        - type: Resize
          size: [32, 32]
        - type: Rescale
          rescale: 0.004
          shift: 0.0
        - type: Rescale
          rescale: 3.246
          shift: -0.424
        - type: HWC2CHW
  eval:
    dataset:
      type: Mnist
      path: "/home/workspace/mindspore_dataset/mnist" # Root directory of the Mnist dataset or inference image. This default path is for ST test.
      split: "test"
      batch_size: 32
      num_parallel_workers: 1
      download: False
    map:
      operations:
        - type: Resize
          size: [32, 32]
        - type: Rescale
          rescale: 0.004
          shift: 0.0
        - type: Rescale
          rescale: 3.246
          shift: -0.424
        - type: HWC2CHW
  infer:
    dataset:
      type: Mnist
      path: ""
      split: "infer"
      batch_size: 1
    map:
      operations:
        - type: Resize
          size: [32, 32]
        - type: Rescale
          rescale: 0.004
          shift: 0.0
        - type: Rescale
          rescale: 3.246
          shift: -0.424
        - type: HWC2CHW
